:root
{
    --primario:#9C27B0;
    --primarioOscuro:#89119d;
    --secundario:#FFCE00;
    --secundarioOscuro:#e9bb02;
    --blanco:#fff;
    --negro:#000;
     
    --fuentePrincipal:  'Staatliches', cursive;
}

/* Box Sizing */
html 
{
    box-sizing: border-box;
    font-size: 62.5%;  /* 1rem = 10 px */
    
}

*, *:before, *:after 
{
    box-sizing: inherit;
}

/* Globales */

body
{
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;
}

p
{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}

a
{
    text-decoration: none;
}

img
{
    max-width: 100%;
}

.contenedor
{
    max-width: 120rem;
    margin: 0 auto;
}

h1,h2,h3
{
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePrincipal);
}

h1
{
    font-size: 4rem;
}

h2
{
    font-size: 3.2rem;
}

h3
{
    font-size: 2.4rem;
}

/* Header */
.encabezado
{
    display: flex;
    justify-content: center;
}

.encabezado__logo
{
    margin: 3rem 0;
}

/* Navegacion */
.navegacion
{
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    /* gap: 2rem; */
}

.navegacion__enlace
{
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    font-size: 3rem;
    margin-right: 2rem;

}

.navegacion__enlace:last-of-type
{
    margin-right: 0;
}

.navegacion__enlace:hover,
.navegacion__enlace--principal
{
    color: var(--secundario);
}

/* Footer */
.piepagina
{
    background-color: var(--primarioOscuro);
    display: flex;
    justify-content: center;
    margin: 3rem 0;
}

.piepagina__texto
{
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    font-size: 2.5rem;
    text-transform: capitalize;
}

/* Camisetas Grid */
.gridProductos
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}

@media (min-width: 768px) 
{
     .gridProductos
     {
        grid-template-columns: repeat(3,1fr);
     }
}

/* Camisetas */
.producto
{
    background-color: var(--primarioOscuro);
    padding: 1rem;
  
}

.producto__imagen
{
    width: 100%;
}

.producto__nombre
{
    font-size: 4rem;
    text-transform:uppercase;
}

.producto__precio
{
    font-size: 2.8rem;
    color: var(--secundario);
}

.producto__nombre,.producto__precio
{
    font-family: var(--fuentePrincipal);
    text-align: center;
    margin: 1rem 0;
    line-height: 1.2;
}

/* Graficos */
.grafico
{
    min-height: 30rem;
    grid-column: 1/3;
    background-repeat: no-repeat;
    background-size: cover;
}

.grafico--camisas
{
    grid-row: 2/3;
    background-image: url(../img/grafico1.jpg);
}

.grafico--node
{
    background-image: url(../img/grafico2.jpg);
    grid-row: 8/9;
}

@media (min-width: 768px) 
{
    .grafico--node
    {
        grid-row: 5/6;
        grid-column: 2/4;
    }
      
}

/* Nosotros */

.gridNosotros
{
    display: grid;
    grid-template-rows: repeat(2,auto);
}

@media(min-width: 768px)
{
    .gridNosotros
    {
        grid-template-columns: repeat(2,1fr);
        gap: 1.5rem;
    }    
}

.gridNosotros--imagen
{
    min-height: 40rem;
    width: 100%;
}


/* @media(min-width: 768px)
{
    .gridNosotros--imagen
    {
       width: 100%;
        
    }
        
}
  */


@media(min-width: 768px)
{
    .gridNosotros--texto
    {
        grid-column: 1/2;
        grid-row: 1/2;
    }
}

.bloques
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
}

@media (min-width: 768px) 
{
     .bloques
     {
        grid-template-columns: repeat(4,1fr);
        gap: 1rem;
     }
}

